/* -------------- Main -------------- */

@mixin flex-column
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
@mixin flex-row
	display: flex
	justify-content: center
	align-items: center

html
	position: relative
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
body
	margin: 0
	background: url('/assets/img/bg.jpg');

footer
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 50px
	background: skyblue

.main_container
	position: relative
	display: flex

.hidden
	display: none

/* -------------- Header -------------- */

header
	display: flex
	height: 35px
	border-bottom: 1px solid #dadce0
	box-sizing: border-box
	background: white
	.name
		@include flex-column
		width: 355px
	.header
		display: flex
		flex-grow: 1
		align-items: center
		padding: 0 10px
		.change_month
			@include flex-row
			cursor: pointer
			padding: 0 15px
			img
				width: 15px
		.month
			width: 165px
			font-size: 26px


/* -------------- Left Side -------------- */

.left_side
	width: 315px
	padding: 5px 10px
	margin-right: 20px
	background: white
	.header
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		box-sizing: border-box
		background: white
		.prev_month, .next_month
			@include flex-row
			font-size: 12px
			cursor: pointer
			img
				width: 15px
				padding: 10px
		.month
			@include flex-column
			font-size: 20px
	.calendar
		table
			margin: 0 auto
			border-collapse: collapse
			thead
				th
					height: 30px
			tbody
				background: white
				tr
					td
						position: relative
						width: 40px
						height: 40px
						padding: 0
						box-sizing: border-box
						.item
							position: relative
							width: 100%
							height: 100%
							cursor: pointer
							transition: 0.5s all
							.dateDay
								@include flex-column
								position: absolute
								width: 100%
								height: 100%
								font-size: 1em
							.weekend
								color: red
							.today
								color: white
								border-radius: 50%
								background: #1a73e8

/* -------------- Right Side -------------- */

// .right_side
// 	position: absolute
// 	top: 0
// 	right: 0
// 	width: 50px
// 	height: 100%
// 	background: white

/* -------------- Diary -------------- */

.diary
	@include flex-column
	justify-content: flex-start
	.calendar
		table
			position: relative
			border-collapse: collapse
			thead
				border-right: 1px solid #dadce0
				border-left: 1px solid #dadce0
				background: white
				th
					height: 28px
			tbody
				background: white
				tr
					td
						position: relative
						width: 200px
						height: 135px
						padding: 0
						box-sizing: border-box
						border: 1px solid #dadce0
						.item
							position: relative
							width: 100%
							height: inherit
							cursor: pointer
							transition: 0.5s all
							.stickers
								position: absolute
								top: 0
								left: 0
								display: flex
								flex-direction: column
								flex-wrap: wrap
								pointer-events: none
								z-index: 2
								.small_sticker
									span
										font-size: 12px
										&:first-of-type
											margin-left: 5px
								.task_small_sticker
									@include flex-row
									min-width: 50px
									margin: 0 5px 5px 0
									background: skyblue
							.dateDay
								@include flex-column
								position: absolute
								top: 0
								left: 0
								width: 100%
								height: 100%
								font-size: 6em
								opacity: 0.1
								z-index: 1
							.weekend
								color: red
							.today
								opacity: 0.7
						.hover
							position: absolute
							top: 0
							transform: scale(1.5)
							transition: 0.3s transform
							box-shadow: 3px 3px 10px 0px
							border: 1px solid black
							box-sizing: border-box
							background: white
							z-index: 100
							.small_sticker
								font-size: 10px
								padding: 3px
				.weekArrows
					position: absolute
					top: 31px
					right: -40px
					width: 40px
					div
						@include flex-column
						height: 125px
						opacity: 0.7
						transition: 0.5s all
						box-sizing: border-box
						background: skyblue
						&:hover
							width: 50px
							opacity: 1


/* -------------- Week -------------- */

.week
	background: white
	table
		thead
			th
				border-bottom: 1px solid black
		tbody
			tr
				td
					width: 200px
					height: 53em
					.item
						display: flex
						justify-content: center
						height: 100%
						.dateDay
							font-size: 6em
							opacity: 0.1


/* -------------- Day -------------- */

.day
	position: relative
	width: 100%
	height: 53em
	overflow: auto
	background: white
	.dateDay
		position: absolute
		top: calc(50% - 200px)
		left: calc(50% - 240px)
		width: 480px
		height: 400px
		line-height: 0.8
		font-size: 30em
		text-align: center
		opacity: 0.1
		pointer-events: none
	table
		width: 100%
		border-collapse: collapse
		tr
			td
				width: 100%
				height: 50px
				border: 1px solid #dadce0
				border-left: none
				box-sizing: border-box
				&:first-of-type
					border-top: none
				.inner_wrapper
					position: relative
					display: flex
					height: 100%
					.task_sticker
						@include flex-column
						max-width: 300px
						min-height: 100%
						padding: 3px 10px
						margin: 0 10px
						cursor: pointer
						box-sizing: border-box
						border-radius: 5px
						background: skyblue
						.task_name
							@include flex-row
							.task_time
								margin-left: 10px
								span
									font-size: 20px
						.task_descr
							color: rgba(0, 0, 0, 0.6)
							text-align: center
							margin-top: 5px
							padding-top: 5px
							border-top: 1px solid #1a73e8
					.arrow_dialog
						&::before
							content: ''
							position: absolute
							top: 15px
							left: -10px
							width: 20px
							height: 20px
							transform: rotate(45deg)
							background: skyblue
							z-index: -1
			.time
				@include flex-column
				position: relative
				width: 50px
				height: 50px
				box-sizing: border-box
				border-right: 1px solid #dadce0
				&::after
					content: ''
					position: absolute
					bottom: -1px
					right: 0
					width: 25px
					height: 1px
					background: #dadce0
			
	
/* -------------- Modal -------------- */

.modal_wrapper
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.5)
	.modal
		position: fixed
		top: calc(50% - 300px)
		left: calc(50% - 150px)
		width: 500px
		padding: 40px
		border: 1px solid black
		box-sizing: border-box
		background: white
		.user_event_name
			width: 100%
			input
				width: 100%
				height: 35px
				font-size: 23px
				outline: none
				padding: 0 5px
				border: none
				border-bottom: 1px solid #dadce0
				box-sizing: border-box
				&:focus
					border-bottom: 2px solid #1a73e8
		.events_name
			display: flex
			justify-content: space-around
			margin-top: 20px
			.event
				@include flex-row
				height: 40px
				font-size: 18px
				padding: 0 15px
			.active
				color: #1a73e8
				border-radius: 5px
				background: #dadce0
		.event_options
			.modal_task, .modal_reminder
				position: relative
				height: 350px
				padding: 40px 10px 10px
				border-left: 1px solid #dadce0
				box-sizing: border-box
				.modal_date_and_time
					display: flex
					align-items: center
					height: 30px
					.modal_date
						margin-right: 10px
					.modal_time
						margin-right: 10px
						input
							width: 50px
							height: 30px
							font-size: 16px
							text-align: center
							outline: none
							border: none
							border-bottom: 2px solid rgba(0, 0, 0, 0)
							&:focus
								border-bottom: 2px solid #1a73e8
				.task_descr
					margin-top: 10px
					textarea
						width: 395px
						height: 200px
						font-size: 15px
						resize: none
						outline: none
						padding: 10px
						border-radius: 10px
						border: none
						box-sizing: border-box
						background: rgb(237, 238, 240)
						&:focus
							border-bottom: 2px solid #1a73e8
							border-bottom-left-radius: 0
							border-bottom-right-radius: 0
				.modal_save
					position: absolute
					bottom: 0px
					right: 10px
					width: 100px
					height: 35px
					color: white
					outline: none
					cursor: pointer
					border: 1px solid #0396ff
					border-radius: 5px
					background: linear-gradient( 180deg, #ABDCFF 10%, #0396FF 100%)
					&:hover
						opacity: 0.8
					&:active
						box-shadow: inset 0px 1px 4px -1px black
						
